<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
</head>
<body>
	<div id="main-div">
		<a href="/">
			<center>
				<img style="max-height: 60px;" src="/static/images/logo.png"/>
			</center>
		</a>
	<center>
		<div id="auth-div">
			<form style="padding-top: 100px;" method="post">
				{% block auth %}{% endblock %}
				<input style="margin-top: 100px;" type="submit" class="send-btn" value={% block btn_send %}{% endblock %}>
			</form>
		</div>
		<p style="padding-top: 20px; color: white">{% block already_regist %}{% endblock %}</p>
	</center>
	</div>
</body>
</html>