{% extends 'content_base.html' %}

{% block title %}
Пользователь {{ user.name }}
{% endblock %}

{% block content_title %}
{{ user.name }}
{% endblock %}

{% block content_desc %}
{% if user.desc %}
<p style="white-space: pre-line;">{{user.desc}}</p>
{% else %}
<p>Нет описания профиля</p>
{% endif %}
{% endblock %}

{% block content %}
{% if current_user.name == user.name %}
<div style="margin-top: 40px">
	<a class="a-btn" href="/edit-profile">Редактировать профиль</a>
	<a class="a-btn" href="/logout">Выйти из аккаунта</a>
	<a class="a-btn" href="/delete-account">Удалить аккаунт</a>
</div>
{% endif %}
<div style="margin-top: 40px">
	<p class="title-content">Модели</p>
</div>
{% if user.models.all() %}
<div class="posts-div">
	{% for mlmodel in user.models.all() %}
	<a class="post-div" href="/">
		<div>
			<p style="font-size: 20px; margin: 0px"><b>{{ mlmodel.name }}</b></p>
			<p>{{ mlmodel.desc[:300] }}...</p>
			<p style="color: #7C7C7C">{{ mlmodel.framework }}</p>
			<p style="color: #7C7C7C">{{ (today - mlmodel.date.date()).days }} дней назад</p>
		</div>
	</a>
	{% endfor %}
</div>
{% else %}
<p>У пользователя нет моделей</p>
{% endif %}
{% endblock %}